@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Poppins:ital,wght@1,300&family=Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Spartan', sans-serif;
}

h2 {
    color: #290742;
    font-weight: bold;
}



/* ========== HEADER ==========*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #290742;
    padding-top: 50px;
    padding-bottom: 50px;
  
}
/* ========== LOGO ==========*/
.logo h1 {
   color: #fff;
}
/* ========== MENU  ==========*/
.menu  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
   

}
.menu a {
    text-decoration: none;
}
.menu li  {
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.menu li a:hover {
    color: #290742;
    border-bottom: 1px #fff solid;
}


.apoie-button{
    background-color: transparent;
    color: #fff;
    border: none;
}

/* ========== MENU MOBILE ==========*/
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}
@media (max-width: 600px){ 
    .mobile-menu {
        display: block;
        margin-right: 0;
        padding-right: 0;
      
    }
    .menu {
        position: absolute;
        display:    block ;
        width:50vw;
        top: 10vh;
        right:0 ;
        height: 0;
        background-color: #290742;
        overflow-y: auto;
        visibility: hidden;
    }
    .menu li {
        padding: 30px;
    }
    .apoie-button{
        display: none;
    }
    #nav.active .menu {
        height: 100vh;
        display: flex;
        visibility: visible;
    }
}



/* ========== HOME  ==========*/
.home {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-around;
   background-color: #290742;
}
.home-text {
    width: 570px;
    height: 311px;
}
.home-text  h1 {
    color: #9E6DC2;
}
.home-text  p {
    padding-top: 100px;
    color: #fff;
}
.home-imagem img {
    width: 570px;
    height: 346px;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

/* ========== ASIDE  ==========*/
.cardP {
     max-width: 580px;
}

/* ========== NEWS  ==========*/
.news {
   max-width: 350px;
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
}

.card p,h2 {
    padding-bottom: 15px; 

}

/* ========== 2° NEWS  ==========*/
.second-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.second-news {
    max-width: 400px;
}
.second-news p,h2 {
    padding-bottom: 15px; 
}
/* ========== FOOTER  ==========*/
.footer {
    display: flex;  
    font-size: small;
    justify-content: center;
    background-color: #290742;
    color:#fff;
}
.footer p {
    padding: 10px;
}